<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
        <mat-nav-list>

            <h1 class='crud'>CRUD</h1>
   
            <hr class='home-hr'>

            <div class='links'>
                <a href="https://duduxs.github.io/portfolio/" target="_blank" rel="noopener noreferrer">
                    <p>Duduxs.github.io/portfolio/</p>
                </a>
                <a href="https://medium.com/@duduxss3" target="_blank" rel="noopener noreferrer">
                    <p>Medium.com/@duduxss3</p>
                </a>
                <a href="https://www.hackerrank.com/Edudev142" target="_blank" rel="noopener noreferrer">
                    <p>HackerRank.com/Edudev142</p>
                </a>
               
            </div>

        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
