.sidenavText{
  
    width: 1280px;
    height: 954px;
    left: 643px;
    top: 0px;

    background-color: #E8E8E8;
}

.inputTitle{

    font-family: 'Patrick Hand', cursive;
    position: absolute;
    left: 8.91%;
    right: 76.29%;
    top: 5.77%;
    bottom: 87.95%;

    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 79px;
    outline: none;
    border: none;
    background: transparent;
}

.paragraph{

    font-family: 'Patrick Hand', cursive;
    position: absolute;
    left: 8.91%;
    right: 13.3%;
    top: 14.78%;
    bottom: 78.93%;

    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    word-wrap: break-word;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.199);

    height: 700px;
    width: 1100px;
}



