<mat-sidenav-container>
    <mat-sidenav class="sidenavText" mode="side" opened fixedInViewport="true">
        <mat-nav-list>

            <input type="text" name="title" class='inputTitle' placeholder="title" readonly="true" [value]='title' (click)="clicked()">
            <textarea 
            name="paragraph" 
            class='paragraph'
            placeholder="Begin to write your warning description here" 
            readonly="true"
            cols="30"
            rows="10" 
            value="" 
            size="50"
            [value]='description'
            (click)="clicked()">
        </textarea>
      
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
