<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
        <mat-nav-list>

            <h2 class='title'>My Warnings</h2>
                <i class="material-icons" (click)="addComponent(cardComponentClass)">add</i>
            <p>9 warnings</p>
            <hr class='home-hr'>
   
            <div>
       
                <ng-template #container> </ng-template>
                <app-card></app-card>
            </div>
            
            
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>

