.sidenav{
  
    width: 320px;
    height: 954px;
    left: 320px;
    top: 0px;
    
    background-color: #C4C4C4;
}

.title{
    
    position: absolute;
    left: 11.88%;
    right: 20%;
    top: 4.61%;
    bottom: 89.1%;
    
    font-family: 'Patrick Hand', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 61px;
    
    color: #000000;
    
    backdrop-filter: blur(4px);
}


i{
    
    height: 50px;
    position: absolute;
    top: 12.61%;
    border-radius: 0px;
    font-size: 46px;
    
    color:white;
}

i:hover{
    
    cursor: pointer;
}

p{

    position: absolute;
    margin-left: 200px;
    top: 13.31%;
    bottom: 83.54%;


    font-family: 'Patrick Hand', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;

    color: #000000;

    backdrop-filter: blur(4px);
}

hr{
    
    margin-top: 160px;
}

